a:link{
    color: hsl(221, 100%, 75%);
}
a:hover{
    color: hsl(221, 100%, 86%);
    font-size: 1.1em;
}
a:active{
    color: rgb(50, 50, 255);
    font-size: 1.1em;
}
a:visited{
    color: hsl(0, 0%, 77%);
}