h1::first-letter{
    font-size: 2em;
    font-style: italic;
}
p::first-line{
    background-color: yellow;
}
p::selection{
    color: rgb(28, 216, 75);
    background-color: darkgray;
}
#fruit li::before{
}
#apple::after{
    content: "🍎";
}
#orange::after{
    content: "🍊";
}
#banana::after{
    content: "🍌";
}
#fruit li::marker{
    content: "✓";
    color: lime;
    font-size: 1.2em;
}