.icons{
    text-align: center;
}
.icons a{
    text-decoration: none;
    margin-right: 20px;
}
.fas.fa-home{
    color: hsl(0, 0%, 67%)
}
.fas.fa-home:hover{
    color: hsl(0, 0%, 76%)
}
.fab.fa-twitter{
    color: hsl(203, 89%, 53%)
}
.fab.fa-twitter:hover{
    color: hsl(203, 89%, 73%)
}
.fab.fa-youtube{
    color: hsl(348, 97%, 39%)
}
.fab.fa-youtube:hover{
    color: hsl(348, 97%, 49%)
}
.fab.fa-tiktok{
    color: hsl(0, 0%, 10%)
}
.fab.fa-tiktok:hover{
    color: hsl(0, 0%, 30%)
}